.rectangle {
    position: absolute;
    width: 1519px;
    height: 480px;
    left: 0px;
    top: 1600px;
    
    background: linear-gradient(180deg, #FFEEB3 0%, #E8C95C 100%);
  }

  .name
{
    position: absolute;
width: 351px;
height: 178px;
left: 400px;
top: 140px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 120%;
/* or 29px */


color: #000000;
}

.address
{
    position: absolute;
width: 351px;
height: 178px;
left: 400px;
top: 180px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 120%;
/* or 29px */


color: #000000;
}

.pnum1
{
    position: absolute;
width: 351px;
height: 178px;
left: 400px;
top: 220px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 120%;
/* or 29px */


color: #000000;
}

.pnum2
{
    position: absolute;
width: 351px;
height: 178px;
left: 400px;
top: 260px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 120%;
/* or 29px */


color: #000000;
}

.email
{
    position: absolute;
width: 351px;
height: 178px;
left: 400px;
top: 300px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 120%;
/* or 29px */


color: #000000;
}

.headoffice
{
    position: absolute;
width: 351px;
height: 178px;
left: 800px;
top: 60px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 120%;
}

.mon-sat
{
    position: absolute;
width: 351px;
height: 178px;
left: 800px;
top: 110px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 120%;
}

.mon-sat-time
{
    position: absolute;
width: 351px;
height: 178px;
left: 1100px;
top: 110px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 120%;
}

.sun
{
    position: absolute;
width: 351px;
height: 178px;
left: 800px;
top: 140px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 120%;
}
.sun-time
{
    position: absolute;
width: 351px;
height: 178px;
left: 1100px;
top: 140px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 120%;
}
.branches
{
    position: absolute;
width: 351px;
height: 178px;
left: 800px;
top: 210px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 120%;
}
.b-mon-sat
{
    position: absolute;
width: 351px;
height: 178px;
left: 800px;
top: 260px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 120%;
}

.b-mon-sat-time
{
    position: absolute;
width: 351px;
height: 178px;
left: 1100px;
top: 260px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 120%;
}

.b-sun
{
    position: absolute;
width: 351px;
height: 178px;
left: 800px;
top: 290px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 120%;
}
.b-sun-time
{
    position: absolute;
width: 351px;
height: 178px;
left: 1100px;
top: 290px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 120%;
}

.logos
{
    position: absolute;
width: 500px;
height: auto;
left: 800px;
top: 360px;
} 